@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.sed {
    @apply bg-[#00693E]
}

.thr {
    @apply bg-[#228B22]/25
}

.nav .collapse {
    display: none;
    /* hidden by default */
}

.nav .collapse.show {
    display: block;
}

.discount-box {
    transition: all 0.2s;
}

.discount-box.selected{
    color: rgb(231, 231, 231);
    border-color: #07a502;
    /* green border for selected */
    background-color: #00bb10;
}
.discount-box.selected span.text-muted {
    color: rgb(231, 231, 231) !important;
}
