name: Laravel CI/CD

on:
  push:
    branches: [ main ]

jobs:
  laravel-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - run: composer install --no-interaction --prefer-dist
      - run: php artisan key:generate
      - run: php artisan config:clear

  deploy:
    needs: laravel-ci
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd /home/ubuntu/e_commerce_api_flutter
            git reset --hard
            git pull origin main
            composer install --no-interaction --prefer-dist
            php artisan migrate --force
            php artisan config:clear
            php artisan cache:clear
